@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Orbitron&display=swap');

*{
    margin: 0;
    padding: 0;
}
.sidebar{
    background: linear-gradient(to bottom, #00416a, #e4e5e6);
width: 20vw;
font-family: 'Lora', serif;
cursor: pointer;
color: white
}
.sidebar nav{
    padding: 21px;
     font-size: 20px;

}
.sidebar nav li{
    list-style-type: none;
    font-size: 26px;
    padding: 20px;
    height: 12vh
    
    
}
.sidebar nav li:hover{color:black;}

.sidebar nav li a {
     text-decoration: none ; }
.main{
    background: linear-gradient(to right, #f0f2f0, #000c40);
    width: 90vw;
}


.container{
    display: flex;
    color: black
}
.infocontainer{
    background: linear-gradient(to right, #f0f2f0, #000c40);
   width: 150vh;
    height: 17vw;
    padding: 10px;
    margin: 224px auto;
    display: flex;
    justify-content: space-around;
}

.devpic img{
    width: 155px;
    padding: 12px;
    margin: 6px;
    margin-left: -76px;
    margin-top: 7px
}

.devinfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Orbitron', sans-serif;

}
.hello{
    font-size: 60px;
}
.name{
    font-size: 45px;
    font-weight: bold;
}
.about{
    font-size: 30px;
}
.button{
    margin-top: 20px
    ;
}

.button button{
    padding: 10px 20px;
    border-radius: 20px;
    color: rgb(41, 46, 73);
    background: darkcyan;
    font-size: 14px;
    font-weight: bold ;
    cursor: pointer;
    margin: 0px 7px
}
.button button:hover{
    background-color: rgb(41, 46, 73);
    color: white

}

.font{
      color: aliceblue
}

.contactform{
    padding: 88px;
    margin: 4px;
    font-family: 'Kdam Thmor Pro', sans-serif;
}
.form{
    padding: 11px;
    margin: 9px;
    font-size: 38px;    
}
.input{
    width: 99vh;
    height:30px;
    margin: -2px;
}

.submit{
    padding: 12px 350px;
    border-radius: -6px;
    color: white;
    background: firebrick;
    font-size: 27px;
    font-weight: bold;
    cursor: pointer;
    margin: 27px 8px;
    text-align: center;
}
.submit:hover{
    background-color: white;
    color:firebrick;
}
.checkage{
    width: 13px;
    height: 24px;
}

.me{
    font-size: large;
    color: maroon;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
    text-align: center;
    margin: 30px;
}

